html,body {
	margin: 0;
	overflow: hidden;
}

#canvas {
 	position: fixed;
}

#chat {
	z-index: 101;
	position: absolute;
	top: 50%;
	left: 0px;
	height: 50%;
	width: 25%;
	background-color: black;
	color: white;
	font-family: arial;
	opacity: 0.8;
	overflow: auto;
}

input {
	font-family: arial;
}

input[type=text] {
	border-bottom: 1px solid yellow;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: black;
	color: white;
}

button {
	border-bottom: 1px solid yellow;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: black;
	color: white;
}

#chat-text {
	background-color: white;
	color: black;
}

li {
	list-style: none;
	left: 0px;
	font-size: 12px;
	border-color: red;
	background-color: white;
	color: black;
}
